/* 
! navbar style
*/

.navbar {
  background-color: rgb(1, 17, 19);
  color: white;
  padding: 5px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 3rem;
}

.cart {
  position: relative;
  font-size: 20px;
}
.cartAmount {
  background-color: aquamarine;
  color: rgb(8, 19, 34);
  border-radius: 3rem;
  position: absolute;
  top: 10px;
  right: 0rem;
}

.shop {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 20px;
  justify-content: space-around;
  margin: 5px 15px;
}
.item {
  box-shadow: 5px 5px 10px gray;
  background-color: rgb(214, 220, 224);
  padding: 10px 15px;
}
.item > img {
  width: 22rem;
  height: 20rem;
}

.buttons{
     display: flex;
}

.price_quantity{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* responsive 
 */

 @media (max-width:1000px) {
  .shop{
    grid-template-columns:repeat (2,1fr);
 
  }
 }